<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>209714862033-6vdnpbl81f65n6939dnkq9iqr9ifn1sg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.209714862033-6vdnpbl81f65n6939dnkq9iqr9ifn1sg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>209714862033-skgqo2nmb3htq3mdvq4khhallog9i92r.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA0cuD7wAY1Wyifs6Z3kIlkfswuYLs1knQ</string>
	<key>GCM_SENDER_ID</key>
	<string>209714862033</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.testcontactsApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-89243</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-89243.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:209714862033:ios:ef9389277eb4e5ac7d72f0</string>
	<key>DATABASE_URL</key>
	<string>https://chatapp-89243.firebaseio.com</string>
</dict>
</plist>